.contact__icons{
  max-width: 518px;
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

@media screen and (max-width:650px) {
  .contact__icons{
    max-width: 65%;
    margin: 50px auto;
  }
  
}
