.contact__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 65px;
  text-align: center;
  letter-spacing: -1px;
  color: #B6F7AB;
  font-family: 'IBM Plex Sans', 'Arial', sans-serif;
  letter-spacing: -1px;
}