.header__content{
  display: flex;
  justify-content: space-between;
  background-color:#081E41;
  align-items: center;
  max-height: 595px;
  width: 100%;
  max-width: 1360px;
  padding-top: 100px;
}

@media screen and (max-width: 1000px) {
  .header__content {
    flex-direction: column;
    padding-top: 160px;
    max-height: none;
  }
}
