.contact{
  background: #081E41;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 40px;
  padding-right: 40px;
}

@media screen and (max-width:860px) {
  .contact{
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
}
@media screen and (max-width:480px) {
  .contact{
    padding-left: 10px;
    padding-right: 10px;
  }
  
}