.header__title {
  color: #B6F7AB;
  font-style: normal;
  font-weight: bold;
  font-size: 52px;
  line-height: 65px;
  letter-spacing: -1px;
  margin-top: 0;
}

@media screen and (max-width:650px) {
  .header__title{
    font-size: 40px;
    line-height: 45px;
  } 
}